body {
  color: #f4f4ff;
  font-family: arial;
  background-image: url("https://64.media.tumblr.com/8cc7835494a4ef9de68351c0dd6564b2/tumblr_pwazfktgBH1xkay4po1_1280.jpg");
  max-width: 100%;
  height: auto;
  background-color: #242442;
}
header {
  text-align: center;
}
h1 {
  color: #f4f4ff;
}
p {
  font-size: 18px;
}
footer {
  text-align: center;
}
footer a {
  color: black;
}
#button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 20px;
  background-color: #242442;
  color: #f4f4ff;
  padding: 10px;
  border-radius: 8px;
}
.box {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: 2px 50px 20px 50px;
  background-color: #f4f4ff;
  color: #242442;
  border: 2px solid #242442;
}
